/vendor
/node_modules
/public/build
/public/hot
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
